<div class="container  mt-5 w-100">
    <div class="app-cart ">
        <app-cart></app-cart>
    </div>
    <form action="" class="ms-0 w-75 " >
        <div *ngFor="let product of products" class="prod w-25 mt-2 border-0 rounded-3">
            <h3 class="w-100 d-flex justify-content-center">
                {{ product.name }}
            </h3>
            <div class=" bg-danger prod-img ">
                <img class="w-100" src="assets/img/nike-sneaker.png" alt="">
            </div>
            <h2 class="w-100 d-flex justify-content-center">R{{ product.price }}</h2>
            <p>{{ product.description }}</p>
            <div class="btn-area w-100 d-flex justify-content-center">
                <button (click)="addToCart(product,$event)" class="btn w-75 mb-2 btn-success border-0 rounded-pill ">Add to cart<i class="bi bi-cart-plus-fill ms-2"></i></button>
            </div>
            
        </div>
    </form>

    
</div>
