<div class="w-75  mx-auto my-5 d-flex justify-content-center">
    <form (ngOnSubmit)="checkDetaits()" class="w-50 d-block">
        <h3 class="w-100 d-flex justify-content-center mt-5">Log in page</h3>
        <div class="input w-75 d-block mx-auto my-2 mt-5">
            <i class="bi bi-envelope mx-3"></i>
            <input type="email" id="email" placeholder="Please enter your email">
        </div>
        
        <div class="input w-75 d-block mx-auto my-2">
            <i class="bi bi-lock-fill mx-3"></i>
            <input type="password" name="password" id="password" placeholder="Please Enter Your password">
        </div>
        <div class="forgot w-75 mx-auto d-flex justify-content-end my-3">
            <a href="">Forgot password ?</a>
        </div>
        <div class="button-container w-100 d-flex justify-content-center my-3">
            <button class="btn btn-primary ">Log in</button>
        </div>
        <div class="create w-100 d-flex justify-content-center my-2">
            <p>Click <a href="">here </a>to register</p>
        </div>

    </form>
</div>